html, body {
  height: 100%;
  width: 100%;
}

.container {
  width: 30% !important;
  height: auto;
  flex-direction: column;
  gap: 5px; 
  justify-content: left;
  align-items: left;
  flex-wrap: initial;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.texto{
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

h1{
  padding-top: 20%;
  font-size: 60px!important;
  padding-bottom: 7%;
}

h2{
  font-size: 40px!important;
}

.imagem_base{
  width: 35%;
  height:auto;
}

.imagem_sobreposta{
	position: absolute;
	bottom:-0!important;
  top: -100;
	right: 0;
	width:50%;
	height: auto;
	z-index: 1;
}

.elemento1{
  height: 10px;
  width: 5px; 
}
.elemento2{
  width: 10%;
}
.footer {
  background-color: #628a96;
  color: white;
  padding: 1%;
  text-align: left;
  font-weight: bold;
  z-index: -1;
  flex-shrink: 0;
  position: absolute;
  width:100%;
  align-self: flex-start;
}


.imagem-footer{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap-reverse;
}

